<header class="header">
    <div class="container ">
        <div class="row">
            <div class="header__body">
                <div class="logo">
                    <a href="/"><img src="img/logo.svg" alt="logo"></a>
                </div>
                <nav class="header__menu">
                    <ul>
                        <li><a href="">Business areas</a></li>
                        <li><a href="">Featured images</a></li>
                        <li><a href="">Gear cage</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a class="active" href="">Get template</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>